    <nav ng-if="currentUser._id != null" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/newsfeed">NewsFeed</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user"><span class="glyphicon"></span>Welcome, {{ currentUser.name }}</a></li>
                <li><a href="/logout"><span class="glyphicon"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

<div class='newsfeed'>
      
  <div class="col-md-3"></div>
  
<div class="col-md-6 center-block" id="postNewsForm" ng-controller="newsController">
    <h1 class="user">{{ userNews.name }}</h1> 
    <div class="allNews" ng-repeat="news in userNews._newsCreated">
    
    <div class="news">    
        <h2>{{ news.headline }}</h2>
        <h3>{{ news.story }}</h3>
   
    </div>
</div>

<div class="shareNews formBlock">

    <h1>Share Some News</h1>

    <form ng-submit="postNews()" method="post">
      <div class='form-group'>
        <label for="name">Headline:</label>
        <input class='form-control' type="text" ng-model="newNews.headline" placeholder='Headline'>
      </div>
      <div class='form-group'>
        <label for="name">Story:</label>
        <textarea class="form-control" rows="3" ng-model="newNews.story" placeholder="Story"></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Post News">
      <p>{{ postNewsError }}</p>
    </form>
</div>

</div>

  <div class="col-md-3"></div>


</div>
